<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.arner.mybatis.mapper.OrderMapper">
    <resultMap id="BaseResultMap" type="com.qf.arner.mybatis.entity.Order">
    <id property="orderId" column="order_id"/>
    <result property="orderNo" column="order_no"/>
    <result property="createData" column="creat_data"/>
    <result property="status" column="status"/>
    <result property="userId" column="user_id"/>

</resultMap>
    <resultMap id="AssociationResultMap" type="com.qf.arner.mybatis.entity.Order" extends="BaseResultMap">
    <!--    声明一对一的关系-->
    <association property="user" resultMap="com.qf.arner.mybatis.mapper.UserMapper.BaseResultMap"/>
</resultMap>

    <resultMap id="CollectionResultMap" type="com.qf.arner.mybatis.entity.Order" extends="BaseResultMap">
    <!--    声明一对多的关系-->
    <collection property="orderItems" resultMap="com.qf.arner.mybatis.mapper.OrderItemMapper.BaseResultMap"/>
</resultMap>

    <!--    通过订单号查询-->
    <select id="selectOrderByNo" resultMap="AssociationResultMap">
    select * from t_order o left join user u on o.user_id = u.id where order_no = #{orderNo}
</select>

    <select id="selectOrderByUserId" resultMap="CollectionResultMap">
    select * from t_order o left join order_item oi on o.order_id = oi.order_id where o.user_id = #{userId}
</select>


</mapper>